@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* CSS General */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     /* Asegura que el padding y el borde se incluyan en el ancho/alto */
}



:root{

    --tamanio-titulo:3.2rem;
    --tamanio-subtitulo:2.4rem;
    --texto-destacado: 1.6rem;
    --texto: 1.4rem;
    --leyenda: 1.2rem;

    --bordes-esquinas: 30px;

    /* Primarios */

    --azul-background: #0c0d14;
    --azul-contenedores: #1f2030;

    --gris-oscuro: #27283c;
    --gris-claro: #373952;

    /* Secundarios */

    --violeta: #6a4dde;


    /* Acentos */
    --hueso: #f2e0cc;
    --verde: #3effa2;
    --texto-placeholder: #a5a8b9;
}


html{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}



body{
    background-color: var(--azul-background);
    min-height: 100vh;
    color: var(--hueso);
}

h1 {
    font-size: var(--tamanio-titulo);
}

h2 {
    font-size: var(--tamanio-subtitulo);
}

a{
    color: inherit;
}

body.body-form {
    align-content: center;
}

form {
    background-color: var(--azul-contenedores);
    border-radius: var(--bordes-esquinas);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

form.form-login {
    width: fit-content;
    height: fit-content;
    padding: 4%;
    text-align: center;
}

form.form-login h2 {
    margin-bottom: 4px;
}

hr.custom-line {
    margin-top: 12px;
    margin-bottom: 15px;
    width: 250px;                      /* Ancho de la línea */
    border: none;                      /* Elimina el borde predeterminado */
    border-top: 1px solid var(--gris-claro); /* Línea superior con el color deseado */
    height: 1px;                       /* Altura de la línea */
    background-color: var(--gris-claro); /* Fallback para asegurar el color */
}


form.form-login h3 + hr {
    margin-bottom: calc(46px - 12px);   /*habria que establecer un margin-top de hr para no tener constantes en codigo*/
}

label{
    font-size: var(--texto);
    font-weight: 600;
    margin-bottom: 4px;
}

form.form-login label {
    align-self: first baseline;
}

body.body-form{
    align-content: center;
}





#cambio-formulario{
    color: var(--verde);
}





/* Pagina de register */



.campo-obligatorio {
    color: red;
}

form.form-login input + button {
    margin-top: 46px;
}


input[type="email"],
input[type="password"]{
    font-family: "Montserrat", sans-serif;
    background-color: var(--gris-claro);
    border-radius: 10px;
    border: none;
    box-shadow: none;
    height: 4rem;
    font-size: var(--texto-destacado);
    color:white;
    padding-left: 11px;
    margin-bottom: 14px;
}




.contenedor-form label{
    display: block;
    color: var(--hueso);
    align-self: flex-start;
    margin-left: 7%;
}


.contenedor-form input[type="text"],
.contenedor-form input[type="number"],
.contenedor-form input[type="email"],
.contenedor-form input[type="password"]{
    font-family: "Montserrat", sans-serif;
    background-color: var(--gris-claro);
    border-radius: 10px;
    border: none;
    box-shadow: none;
    height: 4rem;
    font-size: var(--texto-destacado);
    color:white;
    width:80%;
    padding-left: 11px;
    margin-bottom: 14px;

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.contenedor-form input[type="email"]{
    width: 180%;
    margin-left:8%;
    align-self: flex-start;
}


input::placeholder{
    font-weight: bold;
    font-size: var(--texto-placeholder);
}


form button{
    display: block;
    cursor: pointer;

    background-color: var(--violeta);
    border: none;
    border-radius: var(--bordes-esquinas);

    color: var(--hueso);
    font-family: "Montserrat", sans-serif;
    font-size: var(--texto-destacado);
    font-weight: bold;

    width: 23rem;
    height: 3.8rem;



    transition: 0.2s;
}

form.contenedor-form button{
    margin-bottom: 12px;
    margin-top: 12px;
}

form button:hover{
    color: var(--violeta);
    background-color: var(--hueso);
    border: 2px solid var(--violeta);
    transform: scale(1.05);
}


#sign_google{
    background-color: var(--gris-claro);
    font-size: var(--texto);

    transition: 0.2s;
}

#sign_google:hover{
    background-color: #ffffff;
}

#sign_facebook{
    background-color: #1877f2;
    font-size: var(--texto);

    transition: 0.2s;
}

#sign_facebook:hover{
    color: var(--hueso);
    border: 2px solid var(--hueso);
    background-color: #004990;
}


/* Layout */

.contenedor-form{
    /*margin-top:15vh;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul-contenedores);
    border-radius: var(--bordes-esquinas);
    width:30%;

}




.contenedor-form h1{
    font-size: var(--tamanio-subtitulo);
    margin-bottom: 14px;
}
.contenedor-form h3{
    font-size: var(--leyenda);
}


.grupo-inputs{
    display: flex;
    justify-content: space-between;
    height:15rem;
    width:100%;
    /*background-color: beige;*/
    margin-bottom: 16px;

}

.tupla-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    /*background-color: red;*/

}

.singular-input{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50%;

}




.grupo-inputs:has(.tupla-inputs:has(input[type="email"])){
    /*background-color: #3effa2;*/
}



.sign-redes{
    display: flex;
    width:100%;
    justify-content: center;
    gap:3rem;
}
form.form-login
input[type="email"],
input[type="password"]{
    width: 55.3rem;
}

input::placeholder{
    font-weight: bold;
    font-size: var(--texto-placeholder);
}





form button{
    display: block;
    cursor: pointer;

    background-color: var(--violeta);
    border: none;
    border-radius: var(--bordes-esquinas);

    color: var(--hueso);
    font-family: "Montserrat", sans-serif;
    font-size: var(--texto-destacado);
    font-weight: bold;

    width: 23rem;
    height: 3.8rem;

    transition: 0.2s ease-in;
}



/*NAVBAR*/
header{
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    justify-content: flex-start;
    min-height: 60px;
    width:100%;
    gap:10em;
    background-color: var(--gris-oscuro);
    color:white;
}

nav input, nav button{
    max-height: 40px;
}

.menu_hamburguesa{
    background-color: var(--azul-background);
    border-right: 1px solid var(--gris-claro);
    color: var(--hueso);
    width: 200px;
    height: 100%;
    transition: 0.2s;
    position: fixed;


}

.menu_hamburguesa h3{
    font-size: var(--texto-destacado);
    font-weight: bold;
    margin-left: 2rem;
}

.menu_opciones{
    list-style: none;
    margin:2rem;


}

.menu_opciones li{

    width:100%;
    font-size: var(--texto);
    font-weight: bold;
    margin-bottom: 1em;
    transition: 0.1s;


}

.menu_opciones li:hover{
    transform: scale(1.25);
    color:wheat;
    cursor: pointer;
}



.oculto{
    transform: translateX(-120%);
}


.informacion-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--texto);
    font-weight: bold;
    /*background-color: palegreen;*/
    min-height:200px;
}

.informacion-usuario button{
    display: block;
    cursor: pointer;

    background-color: var(--gris-oscuro);
    border: 2px solid var(--hueso);
    border-radius: var(--bordes-esquinas);

    color: var(--hueso);
    font-family: "Montserrat", sans-serif;
    font-size: var(--texto-destacado);
    font-weight: bold;

    width: 16rem;
    height: 3.2rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;



    transition: 0.2s;
}

.informacion-usuario .custom-line{
    width:16rem;
}

.perfil{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

.perfil img{
    margin: 2rem 1rem 2rem 1rem;
}


