@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* CSS General */
:root{

    --tamanio-titulo:3.2rem;
    --tamanio-subtitulo:2.4rem;
    --texto-destacado: 1.6rem;
    --texto: 1.4rem;
    --leyenda: 1.2rem;

    --bordes-esquinas: 30px;

    /* Primarios */

    --azul-background: #0c0d14;
    --azul-contenedores: #1f2030;

    --gris-oscuro: #27283c;
    --gris-claro: #373952;

    /* Secundarios */

    --violeta: #6a4dde;


    /* Acentos */
    --hueso: #f2e0cc;
    --verde: #3effa2;
    --texto-placeholder: #a5a8b9;
}


html{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}

body{
    background-color: var(--azul-background);
}

h1,h2,h3{
    color: var(--hueso);
}

#cambio-formulario{
    color: var(--verde);
}





/* Pagina de register */


label{
    display: block;
    color: var(--hueso);
    font-size: var(--texto);
    font-weight: 600;
    margin-bottom: 4px;
}


input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"]{
    font-family: "Montserrat", sans-serif;
    background-color: var(--gris-claro);
    border-radius: 10px;
    border: none;
    box-shadow: none;
    height: 4rem;
    font-size: var(--texto-destacado);
    color:white;
    width:25rem;
    padding-left: 11px;
    margin-bottom: 14px;

}

input[type="email"]{
    width: 55.3rem;
}


input::placeholder{
    font-weight: bold;
    font-size: var(--texto-placeholder);
}


form button{
    display: block;
    cursor: pointer;

    background-color: var(--violeta);
    border: none;
    border-radius: var(--bordes-esquinas);

    color: var(--hueso);
    font-family: "Montserrat", sans-serif;
    font-size: var(--texto-destacado);
    font-weight: bold;

    width: 23rem;
    height: 3.8rem;

    margin-bottom: 12px;
    margin-top: 12px;
}


#sign_google{
    background-color: var(--gris-claro);
    font-size: var(--texto);
}

#sign_facebook{
    background-color: #1877f2;
    font-size: var(--texto);
}


/* Layout */

.contenedor-form{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul-contenedores);
    border-radius: var(--bordes-esquinas);
    height: 100vh;
    width:50vw;

}

.contenedor-form h1{
    font-size: var(--tamanio-subtitulo);
    margin-bottom: 14px;
}
.contenedor-form h3{
    font-size: var(--leyenda);
}


.grupo-inputs{
    display: flex;
    justify-content: space-between;
    height:15rem;
    width:80%;
    /*background-color: beige;*/
    margin-bottom: 16px;

}

.tupla-inputs{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30rem;
    /*background-color: red;*/
}

.singular-input{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 30rem;

}




.grupo-inputs:has(.tupla-inputs:has(input[type="email"])){
    /*background-color: #3effa2;*/
}



.sign-redes{
    display: flex;
    width:100%;
    justify-content: center;
    gap:3rem;
}



